.team-section {
  padding: 10px 40px;
}

.team-section .row {
  display: grid;
  width: 100%;
  gap: 350px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.team-section .column {
  float: left;
}
