.teamCard {
  width: 300px;
  height: 450px;
  background: white;
  padding: 20px 0;
}

.teamCard .upper-container {
  padding: 20px 0 0;
}

.teamCard .upper-container .use-role {
  color: #000000;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  padding: 20px 0 0 10px;
  position: relative;
  text-transform: uppercase;
  top: -245px;
  writing-mode: vertical-rl;
}

.teamCard .lower-container {
  display: flex;
  color: #000000;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  justify-content: left;
  padding: 5px 10px;
}